{% extends "VcertVeilleBundle:Default:layout.html.twig" %}

{% block title %}Jobeet - Your best job board{% endblock %}

{% block stylesheet %}
    <link href="{{ asset('./bundles/vcertveille/css/jobs.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}

<div id="jobs">
    {% for category in categories %}
       <div class="category_{{ category.title }}">
           <div class="category">
               <div class="feed">
                   <a href=""> Feed</a>
               </div>
               <h1><a href="{#{{ path('_category_job_show', { 'slug': category.slug }) }}#}">
                {{ category.title }}</a> </h1>
           </div>

{#           {% render 'VcertVeilleBundle:Veille:list' with {'category': category, 'max' : nVulnsPage} %} 
           
          {% set count = category.getNJobs() -  nJobsPage  %}           
           {% if count > 0 %}
           <div class="more_jobs"> and
                <a href="{{ path('_category_job_show', { 'slug': category.slug }) }}">
                    {{ count }}
               </a> more...
           {% endif %}
  #}
        </div>
    {% endfor %}
</div>
 


{% endblock %}

